<div class="footer-links">
</div>
<p>
<a href="http://www.twitter.com/csirtfoundry"><img src="http://twitter-badges.s3.amazonaws.com/follow_us-b.png" alt="Follow CSIRT Foundry on Twitter"/></a>
<a href="http://feeds.feedburner.com/CsirtFoundry" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a><a href="http://feeds.feedburner.com/CsirtFoundry" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"></a>
</p>
<p class="sidelab-contact">
CSIRT Foundry is an initiative of <a href="http://www.sidelab.com/">cross-platform developers Sidelab</a>, makers of <a href="http://tile5.org/">Tile5</a>.</p>

<script type="text/javascript">
var clicky = { log: function(){ return; }, goal: function(){ return; }};
var clicky_site_id = 66403362;
(function() {
      var s = document.createElement('script');
        s.type = 'text/javascript';
          s.async = true;
            s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
              ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<a title="Web Statistics" href="http://getclicky.com/66403362"></a>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66403362ns.gif" /></p></noscript>
